appProperties:
  host.validation: false

datasourceProperties:
  db.username: ${SSC_DB_USER}
  db.password: ${SSC_DB_PASSWORD}

  jdbc.url: 'jdbc:mysql://mysql:3306/ssc?sessionVariables=collation_connection=latin1_general_cs&rewriteBatchedStatements=true&useSSL=false&allowPublicKeyRetrieval=true'

dbMigrationProperties:

  migration.enabled: true
  migration.username: ${SSC_DB_USER}
  migration.password: ${SSC_DB_PASSWORD}

  jdbc.url: 'jdbc:mysql://mysql:3306/ssc?sessionVariables=collation_connection=latin1_general_cs&rewriteBatchedStatements=true&useSSL=false&allowPublicKeyRetrieval=true'
